*, *:before, *:after {
    box-sizing: border-box;
    
}

@font-face {
    font-family: summer_garden;
    src: url('/static/summer_garden.ttf');
}

body {
    font-family: summer_garden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0px !important;
}

#header_and_logo {
    min-height: 100px;
    text-align: center;
    padding: 25px;
    font-size: 60px;
}
#navbar {
    min-height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #c2c2c2;
    margin: 0 20px;
    z-index: 1;
}
#navbar_link_holder {
    display: none;
}

.navbar_link {
    display: block;
    padding: 15px;
    cursor: pointer;
    font-size: 40px;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.page_content {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

#slide_show_container {
    padding: 0 40px;
display: flex;
overflow: hidden;
flex-direction: column;
flex-grow: 1;
}

#picture_carousel {
    position: relative;

}

.image_container {
    transition: translate 0.5s linear;
position: absolute;
z-index: 1;
opacity: 0.7;
filter: blur(0.6px);
width: 100%;
}


.ss_picture {
    border-radius: 10px;
height: inherit;
width: inherit;
}

.active {
    z-index: 2;
    opacity: 1;
    filter: none;
}


.prev {
    transform: translate(-320px);
}

.next {
    transform: translate(320px);

}

.ss_picture.blur {
    filter: blur(2px);
}
#carousel_indicator {
    display: flex;
justify-content: center;
}
.ss_indicator {
    width: 10px;
height: 10px;
background-color: white;
border-radius: 50%;
margin: 5px 2px;
border: 2px solid #595959;
}

.filled {
    background-color: #595959;
}

#instagram_container {
    display: flex;
    justify-content: center;
}
#ig_link {
    display: flex;
    flex-direction: column;
}
#ig_profile {
    width: 166px;
    border-radius: 50%;
    border: #dfdfdf 2px solid;
    padding: 3px;
    cursor: pointer;
}
#ig_logo {
    width: 166px;
}

#footer {
    align-self: center;
    padding: 15px;
}


/* less than 600px */
@media only screen and (max-width: 600px) {

#header_and_logo {
    margin-top:50px;
}

#navbar {
    flex-direction: column;
    left:0;
    position: absolute;
    width: 90vw;
    background-color: white;

}

#navbar_link_holder {
    display: block;
    padding: 25px 0 0 0;
    font-size: 40px;
}

.navbar_link {
    display:none;
    padding: 30px 0 0 0;
    font-size: 50px;
}

.navbar_link.show {
    display: block;
}

#picture_carousel {
    
}

.image_container {

}


.ss_picture {

}

.active {

}


.prev {
    
}

.next {
   
}

.ss_indicator {

}

.filled {

}

#ig_profile, #ig_logo {
    width: 87px;

}

}