*, *:before, *:after {
    box-sizing: border-box;
    
}

@font-face {
    font-family: summer_garden;
    src: url('/static/summer_garden.ttf');
}

body {
    font-family: summer_garden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0px !important;
    background-color: #fafafa;
}

#header_and_logo {
    min-height: 100px;
    text-align: center;
    padding: 25px;
    font-size: 60px;
}
#navbar {
    min-height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #c2c2c2;
        margin: 0px 20px 20px 20px;
    z-index: 3;
    box-shadow: black 0px 5px 6px -7px;
    background-color: #fafafa;;
}
#mobile_navbar_hamburger {
    display: none;
}

.navbar_link {
    display: block;
    padding: 15px;
    cursor: pointer;
    font-size: 40px;
    user-select: none;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.navbar_link.active_link {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: #929292;
}


.page_content {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}


/* SEE PAGE STYLE SHEET */

#social_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    user-select: none;
}
#profile_photo {
    width: 166px;
    border-radius: 50%;
    border: #dfdfdf 2px solid;
    padding: 3px;
    cursor: default;
}
#logo_container {
    display: flex;
    width: 166px;
    justify-content: space-evenly;
    margin-top: 10px;

}
#ig_link {
    display: flex;
    flex-direction: column;
}

#ig_logo, #fb_logo {
    width: 40px;
}
#fb_link {

}
#footer {
    align-self: center;
    padding: 15px;
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
}
#owner_link {
    padding: 5px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #b3ebb3;
    border-radius: 20px;
}
#owner_link:hover {
background-color: #a5e5a5;
}


/* less than 600px */
@media only screen and (max-width: 600px) {

#header_and_logo {
    
}

#navbar {
    flex-direction: column;
    background-color: #fafafa;;
    height: 50vh;
    border-bottom: none;
    margin: 0;
    transform: translate(0, -50vh);
    position:absolute;
    width:100vw;
    transition: transform 1s linear;
    -webkit-transition: transform 0.6s linear;
}
#navbar.show {
    -webkit-transform: translate(0px, 119px);
    transform: translate(0 , 119px);
}   

#mobile_navbar_hamburger {
    position: absolute;
    top: 45px;
    right: 25px;
    display: block;
    font-size: 40px;
    transform: translate(0 , 0);
    z-index: 4;

    height: 25px;
    border-radius: 50%;
    transition: transform 0.7s ease;
}

#mobile_navbar_hamburger.open {
    transform: translate(0px , 54vh);
    transition: transform 0.7s ease 0.2s;
}

#burger1, #burger2, #burger3 {
    content: '';
    width: 30px;
    height: 2px;
    background-color: black;
    border-radius: 2px;
    transition: transform 1.5s ease;
}

#burger2 {
transform: translate(0px, 10px);
position: absolute;
    left: 0px;
}
#burger3 {
transform:translate(0px, 22px);
position: absolute;
    left: 0px;
}

.open #burger1 {
    transform: translate(0px, 12px) rotate(45deg);

}

.open #burger2 {
    transform: translate(0px, 10px) rotate(45deg);
}

.open #burger3 {
    transform:translate(0px, 10px) rotate(135deg);;
}



.navbar_link {
    display:none;
    font-size: 50px;
}

.navbar_link.show {
    display: block;
}

.navbar_link.last {
    margin-bottom: 50px;
}

#ig_logo, #fb_logo {
    width: 35px;

}

}