*, *:before, *:after {
    box-sizing: border-box;
    
}

@font-face {
    font-family: summer_garden;
    src: url('/static/summer_garden.ttf');
}

body {
    font-family: summer_garden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0px !important;
}

#header_and_logo {
    min-height: 100px;
    text-align: center;
    padding: 25px;
    font-size: 60px;
}
#navbar {
    min-height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #c2c2c2;
    margin: 0 20px;
    z-index: 3;
}
#mobile_navbar_hamburger {
    display: none;
}

.navbar_link {
    display: block;
    padding: 15px;
    cursor: pointer;
    font-size: 40px;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.page_content {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}


/* SEE PAGE STYLE SHEET */

#instagram_container {
    display: flex;
    justify-content: center;
}
#ig_link {
    display: flex;
    flex-direction: column;
}
#ig_profile {
    width: 166px;
    border-radius: 50%;
    border: #dfdfdf 2px solid;
    padding: 3px;
    cursor: pointer;
}
#ig_logo {
    width: 166px;
}

#footer {
    align-self: center;
    padding: 15px;
}


/* less than 600px */
@media only screen and (max-width: 600px) {

#header_and_logo {
    
}

#navbar {
    flex-direction: column;
    background-color: white;

    min-height: 0px;

    border-bottom: none;
    margin: 0;

}

#mobile_navbar_hamburger {
    position: absolute;
    top: 45px;
    right: 25px;
    display: block;
    font-size: 40px;
    transform: translate(0 , 0);
    z-index: 4;

    height: 25px;
    border-radius: 50%;
    transition: transform 1s ease;
}

#mobile_navbar_hamburger.open {
    transform: translate(0px , 434px);
}

#burger1, #burger2, #burger3 {
    content: '';
    width: 30px;
    height: 2px;
    background-color: black;
    border-radius: 2px;
    transition: transform 1s ease;
}

#burger2 {
transform: translate(0px, 10px);
position: absolute;
    left: 0px;
}
#burger3 {
transform:translate(0px, 22px);
position: absolute;
    left: 0px;
}

.open #burger1 {
    transform: translate(0px, 12px) rotate(45deg);

}

.open #burger2 {
    transform: translate(0px, 10px) rotate(45deg);
}

.open #burger3 {
    transform:translate(0px, 10px) rotate(135deg);;
}



.navbar_link {
    display:none;
    font-size: 50px;
}

.navbar_link.show {
    display: block;
}

.navbar_link.last {
    margin-bottom: 50px;
}

#ig_profile, #ig_logo {
    width: 87px;

}

}