


#slide_show_container {
    padding: 50px 29vw;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    flex-grow: 1;
}

#picture_carousel {
    position: relative;

}

.image_container {
    
    position: absolute;
    z-index: 1;
    opacity: 0;
    filter: blur(0.6px);
    width: 100%;
    transition: transform 1s ease-in, opacity 1s;

}

.img_loading_placeholder {
    height: 268.5px;
    width: inherit;
    background-color: gainsboro;
    border-radius: 5px;
    transition: opacity 1s ease-out;
}
.img_loading_placeholder.shimmer {
   animation : shimmer 3s ease infinite;
   background: linear-gradient(to right, #eff1f3 4%, #fafafa 25%, #eff1f3 36%);
   background-size: 500px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -250px 0;
  }
  100% {
    background-position: 250px 0;
  }
}
.img_loading_placeholder.loaded {   
    opacity: 0;

}
.ss_picture {
    border-radius: 10px;
    height: inherit;
    width: inherit;
    opacity: 0;
    transition: opacity 1s;
}
.ss_picture.loaded {
    opacity: 1;
}

.active {
    z-index: 2;
    opacity: 1;
    filter: none;
    transform: translate(0);
}

.prev2 {
    transform: translate(-100vw);
    opacity: 0;
    transition: transform 1s ease-in, opacity 2s;
}

.prev {
    transform: translate(-55vw);
    opacity: 0.8;
    cursor: pointer;
    
}
.prev:hover {
    opacity: 1;
}

.next {
    transform: translate(55vw);
    opacity: 0.8;
    cursor: pointer;
}
.next:hover {
    opacity: 1;
}

.next2 {
    /* transition: opacity 0s; */
    opacity: 0;
    transform: translate(100vw); 
    transition: transform 1s ease-in, opacity 2s;
}

.ss_picture.blur {
    filter: blur(2px);
}
#carousel_indicator {
    display: flex;
justify-content: center;
}
.ss_indicator {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin: 5px 2px;
    border: 2px solid #595959;
}

.filled {
    background-color: #595959;
}

#play_pause_div {
    display: flex;
    height: 20px;
    justify-content: center;
    z-index: 10;
}
#paused_button {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    
}
#paused_button::before, #paused_button::after {
    position: absolute;
    content: '';
    background-color: #bfbfbf;
    width: 13px;
    height: 2px;
}
#paused_button.active::before, #paused_button.active::after {
    background-color: #eecbcb;
}
#paused_button::before {
    transform: translateY(7px);
}
#paused_button::after {
transform: translateY(12px);
}
#playing_button {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    margin-left: 5px;
    border-left: 11px solid #bfbfbf;
    transform: translateY(4px);
    cursor: pointer;
}
#playing_button.active {
    border-left: 11px solid #c2e2c4;;
}

@media only screen and (max-width: 600px) {

    #slide_show_container {
        padding: 40px 40px;
    }

    .prev2 {
        transform: translate(-150vw);
    }

    .prev {
        transform: translate(-85vw);

    }
    
    .next {
        transform: translate(85vw);

    }

    .next2 {
        transform: translate(150vw);
    }
}