
.owner_content {
    padding: 0px 25px 25px 25px;
    min-height: 80vh;
    font-size: 20px;
    max-width: 100vw;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.owner_navbar {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    overflow: scroll;
    height: 40px;
    align-items: center;
    width: 100vw;
}
.owner_navbar_button {
    padding: 5px 10px;
    border-radius: 16px;
    box-shadow: black 0px 5px 6px -7px;
    cursor: pointer;
    transition: all 0.3s;
    min-width: 100px;
    text-align: center;
    user-select: none;
}
.owner_navbar_button.active {
    background-color: rgb(107, 216, 107);
}

.toggle_carousel_edit {
    background-color: #f1f1f1;
}
.toggle_inventory_edit {
    background-color: #f1f1f1;
}

.toggle_carousel_edit:hover {
    background-color: #e7e7e7;
}
.toggle_inventory_edit:hover {
    background-color: #e7e7e7;
}

.logout_owner {
    background-color: #aeaeae;
    color: white !important;
}
.logout_owner:hover {
    background-color: #a8a7a7;
}
.title {
    font-family: monospace;
    align-self: center;
    text-decoration: underline;
}
.edit_carousel_div {
    display: none;
    flex-direction: column;
    padding: 10px;
    border-radius: 2px;
}
.edit_carousel_div.show  {
    display: flex;
}
#carousel_objects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.carousel_object {
    padding: 5px 10px;
    margin: 5px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 125px;
    cursor: pointer;
    position: relative;
}

.carousel_object:hover {
    box-shadow: rgb(0 0 0 / 24%) 0px 5px 12px;
}
#click_catcher {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
.remove_icon {

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #bd5e5e;
    cursor: pointer;
    display: none;
    margin: 5px;
    box-shadow: 0 2px 6px #888888;
    position: absolute;
    z-index: 2;
    left: calc(50% - 23px);
    top: calc(50% - 20px);

}
.remove_icon:hover {
background-color: #b85656;
}
.remove_icon.show {
    display: flex;
    justify-content: center;
    align-items: center;
}
.trash_can {
    filter: invert(0.95);
    height: 20px;
}
.filename {
    font-family: monospace;
    font-size: 15px;
}

.img_div {
    width: 100px;
}
.img_div.blur {
    filter: brightness(0.3);
}
.img_div.new {
    height: 100%;
    width: 100%;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

.plus_icon {

    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    background-color: #4fc14f;
    cursor: pointer;
    box-shadow: 0 2px 2px #888888;
}
.plus_icon:hover {
    background-color: #4bb84b;
}
.plus_icon::before, .plus_icon::after {
        content: '';
    height: 20px;
    width: 2px;
    background-color: white;
    position: absolute;
    transform: translate(19px, 10px);
}
.plus_icon::after {
    transform: translate(19px, 10px) rotate(
90deg
);

}
.hide_plus {
    display: none;
}
.confirm_icon.confirm_show, .deny_icon.confirm_show {
    display: block;

}  
.confirm_icon {

    width: 40px;
    height: 40px;
    /* position: absolute; */
    border-radius: 50%;
    background-color: #44a344;
    cursor: pointer;
    display: none;
    margin: 5px;
    box-shadow: 0 2px 2px #888888;

}
.confirm_icon:hover {
background-color: #3b943b;
}
.deny_icon {

    width: 40px;
    height: 40px;
    /* position: absolute; */
    border-radius: 50%;
    background-color: #bd5e5e;
    cursor: pointer;
    display:none;
    margin: 5px;
    box-shadow: 0 2px 2px #888888;
}
.deny_icon:hover {
background-color: #b15555;
}

.confirm_icon::before, .confirm_icon::after {
    content: '';
    width: 2px;
    background-color: white;
    position: absolute;
    transform: translate(19px, 10px);

}
.confirm_icon::before {
    height: 10px;
    transform: translate(15px, 19px) rotate(
-55deg
);
}
.confirm_icon::after {
    height: 17px;
    transform: translate(23px, 11px) rotate(
35deg
);
}
.deny_icon::before, .deny_icon::after {
    content: '';
    height: 20px;
    width: 2px;
    background-color: white;
    position: absolute;
    transform: translate(19px, 10px);
}
.deny_icon::before {
    transform: translate(19px, 10px) rotate(
45deg
);
}
.deny_icon::after {
    transform: translate(19px, 10px) rotate(-45deg);

}


.product_img {
    width: inherit;
    padding: 5px;
}
.hidden_form {
    display: none;
    opacity: 0;
    position: absolute;
    width: inherit;
    height: inherit;


}

/* inventory elements */

.edit_inventory_div {
    display: none;
    flex-direction: column;
    padding: 10px;
    border-radius: 2px;
    width: 75vw;
}
.edit_inventory_div.show {
    display: flex;
}
#inventory_objects {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid #cacaca;
    padding-top: 10px;
    border-radius: 10px;
    min-height: 250px;
}
.product_container {
    border-bottom: 2px #cacaca solid;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;

}
.showing_row {
display: flex;
}   

.toggle_product {
    width: 20px;
    margin-right: 5px;
    cursor: pointer;
    transition: transform 0.2s linear;

}
.toggle_product.showing {
    transform: rotate(90deg);
}
.toggle_product::before , .toggle_product::after{
    content: '';
    width: 2px;
    height: 10px;
    background-color: #575757;
    position: absolute;
}
.toggle_product::before {
    transform: translate(9px, 3px) rotate(135deg);
}
.toggle_product::after {
    transform: translate(9px, 9px) rotate(45deg);
}

.product_description {
    font-size: 25px;
}

.edit_product {
width: 35px;
    padding: 0 10px;
    margin-left: auto;
    cursor: pointer;
}
.edit_pencil {

}
.expanded_view {
    display: none;
}
.expanded_view.show {
    flex-direction: column;
    display: flex;
}
.product_photos {
    display: flex;
    margin: 0px 40px;
    border-radius: 10px;
    border: 1px solid #cacaca;
    overflow:scroll; 
}
.product_photo {
    width: 70px;
    border-right: 1px solid #cacaca;
    padding: 5px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    
}
.product_photo:hover {
    box-shadow: #cacaca 0px 0px 4px inset;
}
.product_photo.add {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: default;
    width: auto;
}
.product_price {
    display: flex;
} 
.product_photo_icons {
    display: flex;
}
.product_img.removal {
    filter: brightness(0.3);
}
.product_details {
    margin: 10px 40px 40px;
    font-size: 25px;
    flex-grow: 2;
    align-self: center;
}
.bottom_row {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px;
}
.product_status {
    font-family: 'summer_garden';
    font-size: 25px;
}
.product_price {
    font-family: monospace;
    font-size: 25px;

}
.edit_product_input {
    border: none;
    border-bottom: 1px solid #efefef;
    font-size: 25px;
    font-family: 'summer_garden';
    outline: none;
}
.edit_product_description {
    width: 90%;
    margin: 2px;

}
.edit_product_details {
margin: 10px 40px 40px;
    text-align: center;
}
.edit_product_price_value {
    font-family: monospace;
    width: 60px;

}

.product_edit_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.cancel_product_edits, .save_product_edits {
    padding: 2px 15px;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    font-size: 25px;
}

.cancel_product_edits {
    background-color: #ffa0a0;
}
.cancel_product_edits:hover {
    background-color: #f89292;
}
.save_product_edits {
background-color: #a4e2a4;
}
.save_product_edits:hover {
background-color: #91dd91;
}

.plus_icon.new_product {
    align-self: center;
}
.new_product_description {
    width: 90%;
    margin: 2px;
}
.new_product_photos {
    display: flex;
    margin: 10px 40px;
    border-radius: 10px;
    border: 1px solid #cacaca;
    overflow: scroll;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.add_photos_text {
font-size: 30px;
    color: #d4d4d4;
}
.new_product_details {
margin: 10px 40px 40px;
    text-align: center;
}
.new_product_price {
    display: flex;
}
.new_product_price_value {
    width: 60px;
    font-family: monospace;
}
.hide_new_form {
    display: none;
}
.hide_new_form.show {
    display: flex;
}
.delete_product {
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 12px;
    padding: 2px;
}
.product_trash_can {
    filter: invert(83%) sepia(64%) saturate(2158%) hue-rotate(296deg) brightness(98%) contrast(123%);
    height: 20px;
}


/* less than 600px */
@media only screen and (max-width: 600px) {
    .product_photos {
        margin: 0;
    }

}

@media (hover: hover) {
    .owner_navbar_button:hover {
        transform:translateY(-3px);
        box-shadow: black 0px 6px 9px -7px;
    }
}