body {
    align-items: center;
    overflow-x: hidden;
    background-color: #fafafa;
}

#header_and_logo {
    z-index: 27;
    left: 0;
    /* width: 100vw; */
}

@media only screen and (max-width: 600px) {
#header_and_logo {
    width: 100vw;    
}
}
#mobile_navbar_hamburger {
    z-index: 28;
}
#navbar {
    z-index: 26;
    background-color: rgb(250 250 250);;
    width: 95%;
}
.page_content {
    min-height: 80vh;
    max-width: 768px;
    overflow-x: hidden;
}   

.dropdown_wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgb(250 250 250);;
    position: relative;
    transition: height 1s;
}

.label_holder {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    box-shadow: black 0px 5px 6px -9px;
    background-color: rgb(250 250 250);;
    transition: box-shadow 1.5s;
    cursor: pointer;

}
.label_holder.focus {
    background-color: rgb(250 250 250);;
    box-shadow: black 0px 5px 7px -8px;
}
.label_holder.option_selected {
    /* border-bottom: 1px solid #6cd76c; */
}
.label_holder.option_selected::before {
    border-bottom: 2px solid #6cd76c;
    max-width: 600px;
    height: 52px;
    content: '';
    position: absolute;
    animation: slideBorder;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
@keyframes slideBorder {
    0% {width: 0vw}
    100% {width: 100vw}
}
.label {
    font-size: 35px;
    align-self: flex-start;
    padding: 5px 5px 5px 20px;
}
.selected_option_display {
    font-size: 20px;
    padding: 5px 0;
    margin: 0px 10px;
    font-family: monospace;
    max-width: 150px;
    max-height: 50px;
    overflow: scroll;
    align-self: center;
}
.arrow {
    width: 30px;
    height: 45px;
    margin: 0px 20px;
    transform: rotate( 90deg );
    transition: transform 1s;
    z-index: 0;
    align-self: center;
    margin-left: auto;
}
.arrow.showing {
    transform: rotate( 0deg );
}

@keyframes pulse {
    0% {  }
    50% { transform: rotate(0deg); }
    100% {  }
}
.arrow.missing_info::before, .arrow.missing_info::after{
    background-color: #ff5f50;
    animation: pulse 1s ease-out;
    
}
.arrow::before , .arrow::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 16px;
    background-color: #0000008f;
    transition: all 2s;

}
.arrow::before {
    transform: translate(19px, 20px) rotate(
45deg
);
}

.arrow::after { 
    transform: translate(9px, 20px) rotate(
315deg
)
}
.arrow.option_selected {
    transform: rotate( 0deg );
}
.arrow.option_selected::before, .arrow.option_selected::after {
    background-color: #6cd76c;
}
.arrow.option_selected::before {
transform: translate(19px, 20px) rotate( 
45deg
 );
}
.arrow.option_selected::after {
    transform: translate(11px, 25px) rotate( 
315deg
 );
    height: 10px;
}
.selection {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    transform: translate(0px, -110%);
    transition: transform 1s;
    position: absolute;
    width: 100vw;
    background-color: rgb(250 250 250);;
}
.selection.loaded {
    display: flex;
}
.selection.show {
        transform: translate(0, 50px);

}
.option {
    height: 30vw;
    width: 30vw;
    margin: 5px 20px;
    border-radius: 10px;
    box-shadow: black 0px 4px 19px -11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 250px;
    max-height: 250px;
    cursor: pointer;
    transition: box-shadow 0.5s;
}
.option:hover {
    box-shadow: black 0px 4px 19px -8px;
}
.option.hide {
    display: none;
}

.option.focus {
    width: 60vw;
    height: 60vw;
    background-color: rgb(250 250 250);;
    font-size: 50px;
}
.notes_option {
    height: 60vw;
    width: 60vw;
    margin: 5px 20px;
    border-radius: 10px;
    box-shadow: black 0px 4px 19px -11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 30px;
    opacity: 0;
}
.notes_option.show {
    opacity: 1;
}
.option.value_added {
    border: 1px solid #6cd76c;
}
.other_close {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0;
}
.other_close.show {
    opacity: 1;
}
.other_close.accept_input::before {
    transform: translate(13px, 1px) rotate( 
45deg
 );
    height: 18px;
}
.other_close.accept_input::after {
    transform: translate(4px, 8px) rotate( 
315deg
 );
    height: 10px;
}

.other_close::before, .other_close::after {
    content: '';
    width: 2px;
    height: 20px;
    background-color: black;
    position: absolute;
    transition: transform 0.5s;
}
.other_close::before {
    transform: translate(10px, 0px) rotate(45deg);
}
.other_close::after {
    transform: translate(10px, 0px) rotate( -45deg);
}
.other_label {
font-size: 33px;
}
.other_input {
    display: none;
    width: 80%;
}
.other_input.show {
    display: block;
    outline: none;
    border: none;
    margin-top: 10px;
    border-bottom: 1px solid grey;
    font-size: 30px;
    font-family: 'summer_garden';
}
.notes_input {
    font-size: 20px;
    width: 80%;
    height: 65%;
    border-color: #e9e9e9;
    border-radius: 10px;
    outline: none;
}
.contact_label {
    font-size: 22px;
    font-family: monospace;
}
.contact_input {
    width: 80%;
    display: none;
}
.contact_input.show {
    display: block;
}
#order_form {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.review_wrapper {
    margin: 20px;
    width: 100vw;
    display: flex;
    justify-content: center;
    max-width: 600px;

}
.review_button {
    width: 75vw;
    text-align: center;
    height: 47px;
    box-shadow: black 0px 4px 18px -13px;
    border-radius: 10px;
    font-size: 35px;
    background-color: #c7e9c7;
    color: #cdcdcd; 
    cursor: pointer;
}
.review_button.available {
    background-color: #59ca59;
    color: black;
}
.review_button.available:hover {
    background-color: #51c051;
}

#click_blocker {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 110;
    background-color: rgb(250 250 250);;
    opacity: 0;
    display: none;
    transition: opacity 1s;
}
#click_blocker.block {
    display: block;
}
#click_blocker.visible {
    opacity: 0.95;
}
.fullscreen_container {
    width: 90vw;
    height: 90vh;
    position: absolute;
    top: 5vh;
    left: 5vw;
    background-color: rgb(250 250 250);;
    border: 1px solid #dedede;
    border-radius: 20px;
    z-index: 120;
    transition: opacity 1s;
    display: none;
    opacity: 0;
}
.fullscreen_container.block{
    display: block;
}
.fullscreen_container.visible {
    opacity: 1;
}
.review_header{
    text-align: center;
    font-size: 45px;
    margin-top: 20px;
}
.review_contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.review_option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    
}
.review_option_title {
    font-size: 25px;
}
.review_option_content {
    height: 30vw;
    width: 30vw;
    margin: 0px 20px;
    border-radius: 10px;
    box-shadow: black 0px 4px 19px -11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#back_button, #send_button {
    position: absolute;

    padding: 15px 40px;
    bottom: 0px;
    
    font-size: 25px;
}
#back_button {

    left: 0px;
    background-color: #f5aaaa;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    user-select: none;
    cursor: pointer;

}
#back_button:hover {
    background-color: #f59e9e;
}
#send_button {

    right: 0px;
    background-color: #b0f5aa;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    user-select: none;
    cursor: pointer;

}
#send_button:hover {
    background-color: #89dd81;
}
#send_button.sending::before {
    content: "";
    position: absolute;
    background-color: #44bc2b4f;
    height: 100%;
    left: 0;
    top: 0;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    animation-name: sending;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.27,.01,.86,1.09);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes sending {
    0% {width: 15%;}
    100% { width: 100% }
}

.content_label {
    font-family: monospace;
}

@media only screen and (min-width: 600px) {
    
    .label_holder {
        width: 600px;
    }
    .selection {
        min-width: 600px;
        max-width: 600px;
    }
    .fullscreen_container {
        height: 90vh;
        overflow: scroll;
        width: 65vw;
        left: 17.5vw;
    }
    .review_option {

    }
    .review_option_content {
       width: 20vh;
    height: 20vh;

    }
    #click_blocker {
        height: 200vh;
    }
}   