{% extends "header_footer.html" %}

{% block head %}

{{super()}}

<link rel="stylesheet" type="text/css" href="/static/styles/faqStyle.css?v=071">

{% endblock %}

{% block content %}

<div class="page_content">
<div class="faq_title">Frequent Questions!</div>
<div class="faq_wrapper">
<div class="faq_hat short tan">
<div class="faq_answer">
                Most of the hats have an adjustable band within them and are one size fits all.
                If not, it will be in the description.
            </div>
</div>
<div class="faq_question tan">Are the hats one size fits all?</div>
<div class="faq_hat tall black">
<div class="faq_answer">
                Pre-made hats vary in price.
                Custom orders start at $<span>150</span> for base vendor
                hats and $<span>200</span> for firm wool hats.
                Plus shipping. I request <span>50</span>% deposit to put you on my list.
            </div>
</div>
<div class="faq_question black">How much are your hats?</div>
<div class="faq_hat blue">
<div class="faq_answer">
                For sure, I love sprucing up hats you already love.
                Price for this starts at $<span>130</span> and changes depending on the hat
                material and design requested.
            </div>
</div>
<div class="faq_question blue">Can you design on a hat already purchased?</div>
</div>
</div>


{% endblock %}

{% block scripts %}
{{super()}}

<script src="/static/scripts/faqScripts.js?v=071"></script>

{%- endblock scripts %}