<!-- This will store our NAVBAR and FOOTER -->

{% extends "baseblocks.html" %}


{% block title %}The Crazy P{% endblock title %}


{% block head %}


{{super()}} 


<link href="/static/p_icon.svg" rel="icon"/>

<link href="/static/p_icon.svg" rel="mask-icon" color="#000"/>

<link href="/static/apple-touch-icon.png" rel="apple-touch-icon"/>


<link rel= "stylesheet" type= "text/css" href= "/static/styles/globalStyle.css?v=078">

<link rel="manifest" href="/static/manifest.json">

{% endblock %}


{% block navbar %}


<div id="header_and_logo">
<a href="/"> <img class="logo_img" src="/static/crazyp_logo.png"/> </a>
</div>
<div id="mobile_navbar_hamburger">
<div id="burger1"></div>
<div id="burger2"></div>
<div id="burger3"></div>
</div>
<div id="navbar">
<a class="navbar_link" href="/"> Home </a>
<a class="navbar_link" href="/inventory"> Inventory </a>
<a class="navbar_link" href="/special_order"> Custom Order </a>
<a class="navbar_link last" href="/faq"> FAQ </a>
</div>

{% endblock navbar %}


{% block content %}{% endblock %}



{% block footer %}

<div id="social_container">
<img id="profile_photo" src="/static/profile_picture.jpeg"/>
<div id="logo_container">
<a href="https://www.instagram.com/thecrazyp_/" id="ig_link">
<img id="ig_logo" src="/static/instagram_icon.svg"/>
</a>
<a href="https://www.facebook.com/TheCrazyP/" id="fb_link">
<img id="fb_logo" src="/static/facebook_icon.svg"/>
</a>
</div>
</div>
<div id="footer">
    &copy; thecrazyp

    
    
    {% if owner() %}
    <div id="owner_link">
<a href="/owner_login"> Owner Editor </a>
</div>
    {% endif %}
    

</div>



{% endblock %}

