

{% extends "header_footer.html" %}

{% block head %}

    {{super()}} 

    <link rel= "stylesheet" type= "text/css" href= "/static/styles/homepageStyle.css?v=06">

{% endblock %}

{% block content %}

<div class="page_content">
<div id="slide_show_container">
<div id="picture_carousel">
<!-- javascript to populate -->
</div>
<div id="carousel_indicator">
</div>
<div id="play_pause_div">
<div class="active" id="paused_button"></div>
<div id="playing_button"></div>
</div>
</div>
</div>


{% endblock %}

{% block scripts %}
    {{super()}} 

    <script src="/static/scripts/homepageScripts.js?v=06"></script>

{%- endblock scripts %}

<!-- TODO: COPY ME-->
