

{% extends "header_footer.html" %}


{% block content %}

<div class='page_content'>

<div id='slide_show_container'>
    <div id='picture_carousel' >
        <!-- javascript to populate -->
        <img class='ss_picture' src='/static/hat01.jpeg'>
    </div>
</div>

<div id='instagram_container'>
    <a id='ig_link' href='https://www.instagram.com/thecrazyp_/'>
    <img id='ig_profile' src='/static/profile_picture.jpeg'>
    <img id='ig_logo' src='/static/ig_logo.svg' > 
    </a>
</div>

</div>


{% endblock %}

<!-- TODO: COPY ME-->




















