

{% extends "header_footer.html" %}

{% block head %}

    {{super()}} 

    <link rel= "stylesheet" type= "text/css" href= "/static/styles/homepageStyle.css?v=04">

{% endblock %}

{% block content %}

<div class='page_content'>

<div id='slide_show_container'>
    <div id='picture_carousel' >
        <!-- javascript to populate -->
    </div>
    <div id='carousel_indicator'>

    </div>
</div>



</div>


{% endblock %}

{% block scripts %}
    {{super()}} 

    <script src="/static/scripts/homepageScripts.js?v=04"></script>

{%- endblock scripts %}

<!-- TODO: COPY ME-->




















