



{% extends "header_footer.html" %}

{% block title %}Inventory - TheCrazyP{% endblock title %}

{% block head %}

    {{super()}} 

    <link rel= "stylesheet" type= "text/css" href= "/static/styles/inventoryStyle.css?v=077">

{% endblock %}

{% block content %}

<div class="page_content">
<div id="inventory_title">
        Current Inventory
    </div>
<div id="inventory_div">
</div>
</div>


{% endblock %}

{% block scripts %}
    {{super()}} 

    <script src="/static/scripts/inventoryScripts.js?v=077"></script>

{%- endblock scripts %}
