

{% extends "header_footer.html" %}


{% block title %}crazyp owner{% endblock title %}

{% block head %}


{{super()}}


<link rel="stylesheet" type="text/css" href="/static/styles/owner_homepageStyle.css?v=03">

{% endblock %}


{% block content %}

<div class='owner_content' >
    <div class='owner_navbar'>
        <div class='toggle_orders owner_navbar_button' id='toggle_orders'> Orders / Requests</div>
        <div class='toggle_carousel_edit owner_navbar_button' id='toggle_carousel_edit'> Edit Carousel </div>
        <div class='toggle_inventory_edit owner_navbar_button' id='toggle_inventory_edit'> Edit Inventory </div>
        <div class='logout_owner owner_navbar_button'>
            <a class='logout_link' href='/{{username}}/owner_logout'> Log Out </a>
        </div>
    </div>
    
    <div class='orders_div' id='orders_div'>
        <div class='title'> Orders and Requests </div>
        <div id='special_orders'></div>
        <div id='product_requests'></div>
    </div>

    <div class='edit_carousel_div' id='edit_carousel_div'>
        <div class='title'> Edit Carousel Photos </div>
        <div id='carousel_objects'></div>
    </div>

    <div class='edit_inventory_div' id='edit_inventory_div'>
        <div class='title'> Edit Inventory Items </div>
        <div id='inventory_objects'></div>
    </div>

    <div class='special_orders_div'>


    </div>

</div>

{% endblock %}

{% block scripts %}
{{super()}}

<script src="/static/scripts/owner_homepageScripts.js?v=03"></script>

{%- endblock scripts %}