

{% extends "header_footer.html" %}

{% block head %}

{{super()}}

<link rel="stylesheet" type="text/css" href="/static/styles/owner_registerStyle.css?v=01">

{% endblock %}

{% block content %}

<div class='page_content'>

    <div id='register_content'>
    
        <h1 class='registration_title'>Register as an editor of this site</h1>
    
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li class='flashed_message'>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    
    </div>
    
    <div class='form_outline'>
        <form action="" method="post" novalidate onsubmit='return validateRegisterForm();'>
            {{ form.hidden_tag() }}
    
            <div class='label_div'> {{ form.email.label(class='label') }}</div>
    
            <div class='input_div'> {{ form.email(size=32, class='input', autofocus=true) }} </div>
    
            <div class='label_div'> {{ form.username.label(class='label') }}</div>
    
            <div class='input_div'> {{ form.username(size=32, class='input') }} </div>
    
            <div class='label_div'> {{ form.password.label(class='label') }}</div>
    
            <div class='input_div'> {{ form.password(size=32, class='input') }} </div>
    
            <div> {{ form.submit(class='submit_button') }}</div>
    
        </form>
    </div>

    <div class='login_page_redirect' > 
        Already made an account? 
        <a class='login_page_link' href='/owner_login'> Login</a>
    </div>

</div>


{% endblock %}

{% block scripts %}
{{super()}}

<script src="/static/scripts/owner_registerScripts.js?v=01"></script>

{%- endblock scripts %}