{% extends "header_footer.html" %}

{% block head %}

{{super()}}

<link rel="stylesheet" type="text/css" href="/static/styles/special_orderStyle.css?v=02">

{% endblock %}

{% block content %}

<div class='page_content'>

    <div id='order_form' >

        <div class='dropdown_wrapper' >
        <div class='label_holder'>
            <div id='style_label' class='label' >Style</div>
            <div class='selected_option_display' sel_type='style'></div>
            <div class='arrow' id='style_arrow'></div>
        </div>
        <div id='style_selection' sel_type='style' class='selection'>
            <div class='option' id='style1'></div>
            <div class='option' id='style2'></div>
            <div class='option' id='style3'></div>
            <div class='option other' id='other_style'>
                <div class='other_close' ></div>
                <div class='other_label'> Other </div>
                <input class='other_input' type='text'>
            </div>
        </div>
        </div>
        <div class='dropdown_wrapper'>
            <div class='label_holder'>
                <div id='color_label' class='label'>Color</div>
                <div class='selected_option_display' sel_type='color'></div>
                <div class='arrow' id='color_arrow'></div>
            </div>
            <div id='color_selection' sel_type='color' class='selection'>
                <div class='option' id='color1'></div>
                <div class='option' id='color2'></div>
                <div class='option' id='color3'></div>
                <div class='option other' id='other_color'>
                    <div class='other_close'></div>
                    <div class='other_label'> Other </div>
                    <input class='other_input' type='text'>
                </div>
            </div>
        </div>
    
        <div class='dropdown_wrapper'>
            <div class='label_holder'>
                <div id='band_label' class='label'>Band Type</div>
                <div class='selected_option_display' sel_type='band'></div>
                <div class='arrow' id='band_arrow'></div>
            </div>
            <div id='band_selection' sel_type='band' class='selection'>
                <div class='option' id='band1'></div>
                <div class='option' id='band2'></div>
                <div class='option' id='band3'></div>
                <div class='option other' id='other_band'>
                    <div class='other_close'></div>
                    <div class='other_label'> Other </div>
                    <input class='other_input' type='text'>
                </div>
            </div>
        </div>

        <div class='dropdown_wrapper'>
            <div class='label_holder'>
                <div id='design_label' class='label'>Design</div>
                <div class='selected_option_display' sel_type='design'></div>
                <div class='arrow' id='design_arrow'></div>
            </div>
            <div id='design_selection' sel_type='design' class='selection'>
                <div class='option' id='design1'></div>
                <div class='option' id='design2'></div>
                <div class='option' id='design3'></div>
                <div class='option other' id='other_design'>
                    <div class='other_close'></div>
                    <div class='other_label'> Other </div>
                    <input class='other_input' type='text'>
                </div>
            </div>
        </div>

        <div class='dropdown_wrapper'>
            <div class='label_holder'>
                <div id='notes_label' class='label'>Notes</div>
                <div class='selected_option_display' sel_type='notes'></div>
                <div class='arrow' id='notes_arrow'></div>
            </div>
            <div id='notes_selection' sel_type='notes' class='selection'>
                <div class='option' id='notes1'></div>
                <div class='option' id='notes2'></div>
                <div class='option' id='notes3'></div>
                <div class='option other' id='other_notes'>
                    <div class='other_close'></div>
                    <div class='other_label'> Other </div>
                    <input class='other_input' type='text'>
                </div>
            </div>
        </div>

        <div class='dropdown_wrapper'>
            <div class='label_holder'>
                <div id='contact_label' class='label'>Contact Method</div>
                <div class='selected_option_display' sel_type='contact'></div>
                <div class='arrow' id='style_arrow'></div>
            </div>
            <div id='contact_selection' sel_type='contact' class='selection'>
                <div class='option' id='contact1'></div>
                <div class='option' id='contact2'></div>
                <div class='option' id='contact3'></div>
                <div id='contact_method_selection' class='selection'>
                    <label id='phone_label'> Phone Number </label>
                    <input type='tel' id='phone_input'>
                
                    <label id='email_label'> Email </label>
                    <input type='email' id='email_input'>
                </div>
                <div class='option other' id='other_contact'>
                    <div class='other_close'></div>
                    <div class='other_label'> Other </div>
                    <input class='other_input' type='text'>
                </div>
            </div>
        </div>

    </form>


</div>


{% endblock %}

{% block scripts %}
{{super()}}

<script src="/static/scripts/special_orderScripts.js?v=02"></script>

{%- endblock scripts %}

<!-- TODO: COPY ME-->