{% extends "header_footer.html" %}


{% block title %}Customs - TheCrazyP{% endblock title %}

{% block head %}

{{super()}}

<link rel="stylesheet" type="text/css" href="/static/styles/special_orderStyle.css?v=076">

{% endblock %}

{% block content %}

<div class='page_content'>
    <div id="order_form">
        {% for category in design %}
            <div class='dropdown_wrapper' >
                <div class="label_holder">
                    <div class="label" id="{{ category['category'] }}_label">{{ category['category'] }}</div>
                    <div class="selected_option_display" sel_type="{{ category['category'] }}"></div>
                    <div class="arrow" id="{{ category['category'] }}_arrow"></div>
                </div>
                <div class="selection" id="{{ category['category'] }}_selection" sel_type="{{ category['category'] }}">
                    {% for option in category['options'] %}
                    <div class="option" id="{{ option }}">
                        <!-- option may not have an associated key, if no image was added in the builder -->
                        {% if category.get(option) != None %}
                        <img class="option_image" alt="no image added" src='/static/custom_order_design/{{ category["category"] }}/{{ option }}/LowRes/{{ category[option]["lr_photo"] }}' />
                        {% endif %}
                        <div class='option_label' > {{ option }} </div>
                    </div>
                    {% endfor %}
                    <div class="option other" id="other_style">
                        <div class="other_close"></div>
                        <div class="other_label"> Other </div>
                        <input class="other_input" type="text" />
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="dropdown_wrapper">
            <div class="label_holder">
                <div class="label" id="contact_label">Contact Method</div>
                <div class="selected_option_display" sel_type="contact"></div>
                <div class="arrow" id="style_arrow"></div>
            </div>
            <div class="selection" id="contact_selection" sel_type="contact">
                <div class="option" id="phone_option">
                    <div class="other_close"></div>
                    <label class="contact_label" id="phone_label"> Text </label>
                    <input class='contact_input customer_name' type='text' placeholder='Name'>
                    <input class="contact_input" id="phone_input" type="tel" placeholder='### ###-####' />
                </div>
                <div class="option" id="email_option">
                    <div class="other_close"></div>
                    <label class="contact_label" id="email_label"> Email </label>
                    <input class='contact_input customer_name' type='text' placeholder='Name'>
                    <input class="contact_input" id="email_input" type="email" placeholder='youre@thecrazyp.com'/>
                </div>
                <div class="option other" id="other_contact">
                    <div class="other_close"></div>
                    <div class="other_label"> Other </div>
                    <input class="other_input" type="text" />
                </div>
            </div>
        </div>
        <div class="dropdown_wrapper">
            <div class="label_holder notes">
                <div class="label" id="notes_label"> Additional Notes</div>
                <div class="selected_option_display" sel_type="notes"></div>
                <div class="arrow" id="notes_arrow"></div>
            </div>
            <div class="selection" id="notes_selection" sel_type="notes">
                <div class="notes_option" id="notes">
                    Anything we need to know?
                    <textarea class="notes_input" type="text"></textarea>
                </div>
            </div>
        </div>
        <div class="review_wrapper" id="review_wrapper">
            <div class="review_button" id="review"> Review </div>
        </div>

    </div>
</div>

<div id="click_blocker"> </div>

<div class="fullscreen_container" id="review_container">
    <div class="review_header" id="review_header"> Review your selections! </div>
    <div class="review_contents" id="review_form_contents">
        {% for category in design %}
            <div class="review_option" id="review_{{ category['category'] }}">
                <div class='review_option_title'> {{ category['category'] }} </div>
                <div class="review_option_content">
                    <img class="content_image" />
                    <div class='content_label' ></div>
                </div>
            </div>
        {% endfor %}

        <div class="review_option" id="review_notes">
            <div class="review_option_title"> Notes </div>
            <div class="review_option_content">
                <img class="content_image" />
                <div class="content_label notes"></div>
            </div>
        </div>
        <div class="review_option" id="review_contact">
            <div class="review_option_title"> Contact Info</div>
            <div class="review_option_content">
                <img class="content_image" />
                <div class="content_label"></div>
            </div>
        </div>
        <div id="button_container">
            <div id="back_button"> Back </div>
            <div id="send_button"> Send </div>
        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}
{{super()}}


<script src="/static/scripts/special_orderScripts.js?v=076"></script>


{%- endblock scripts %}

<!-- TODO: COPY ME-->